body {
    background-color: #FCE17C
}

.navbar-default {
    background-color: #E0EF96;
    border-color: black;
    height: 90px
}

    .navbar-default .navbar-brand {
        color: black;
        font-size: 60px;
        padding: 40px;
    }


    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: black;
        font-size: 30px;
        background-color: #E0EF96;
        margin-top:25px;
       
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #E0EF96;
    color: black;
    text-align: center;
    height:60px;
    font-size:20px;
    padding-top:20px;
}
